[submodule "libraries/emGUI"]
	path = libraries/emGUI
	url = ../emGUI
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = ../../gabime/spdlog.git
[submodule "libraries/Adafruit-GFX"]
	path = libraries/Adafruit-GFX
	url = ../../adafruit/Adafruit-GFX-Library.git
